/* 커스터마이즈 용 */
/* front-logined 페이지 */
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}
.instance {
  margin-bottom: 10px;
  padding: 2px;
}

.notice {
  margin-right: 10%;
  margin-left: 10%;
}

.notice__message {
  font-size: 20px;
}

/* 사이드바있는 페이지 */
#main-side {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  #main-side {
    padding-left: 0px;
  }
}
#main-side .container {
  padding: 0px 20px 0px 20px;
}

.sidenav li > a {
  color: #eee !important;
}

.sidenav li > a:hover {
  color: grey !important;
}

/* 텍스트 애니메이션 */
.wordCarousel {
  text-align: center;
  font-size: 36px;
  font-weight: 100;
  color: #939393;
}
.wordCarousel div {
  overflow: hidden;
  position: relative;
  float: right;
  height: 65px;
  padding-top: 10px;
  margin-top: -10px;
}
.wordCarousel div li {
  font-family: Serif;
  color: #ccc;
  font-weight: 700;
  padding: 0 10px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
}
.flip2 {
  animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip3 {
  animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}
.flip4 {
  animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }
  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip3 {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

@keyframes flip4 {
  0% {
    margin-top: -360px;
  }
  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
